.dashboard-container {
  table,
  mat-paginator {
    background-color: #ffe8cc;
  }
}

mat-card {
  margin: 20px;
}

.mat-elevation-z8 {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

tr {
  cursor: pointer;
  &:hover {
    background-color: #acacac;
  }
}

mat-form-field {
  width: 100%; // 100% al campo di ricerca
}

td.center-text {
  text-align: center;
}

@media (max-width: 700px) {
  .hide-column-under-700 {
    display: none;
  }
}
