
tr {
  cursor: pointer;
  &:hover {
    background-color: #acacac;
  }
}


td.center-text {
  text-align: center;
}

@media (max-width: 700px) {
  .hide-column-under-700 {
    display: none;
  }
}

.highlight-row {
  background-color: #acacac3e;
}
