@use "bootstrapOverrides" as *;

.card-viewing {
  overflow: hidden;      /* vincola tutto dentro i bordi della card */
  width: 100%;           /* occupa tutta la larghezza del container */
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover:not(.active) {
    background-color: lighten($secondary, 10%) !important;
    color: white !important;

    i {
      color: white !important;
    }
  }
}
