<div class="bg-primary overflow-auto vh-100">
  <!-- Sezioni -->
  <h5 class="h5 m-1 fw-medium">Sezioni</h5>
  <nav class="nav flex-column px-2">
    <button
      *ngFor="let item of menuItems"
      [routerLink]="item.path"
      routerLinkActive="bg-secondary text-white"
      [routerLinkActiveOptions]="{ exact: true }"
      class="btn nav-link d-flex align-items-center px-3 py-2 rounded-pill text-black"
      (click)="handleMenuNavigation(item)"
    >
      <i class="bi {{ item.icon }} me-2"></i>
      <span class="fw-semibold">{{ item.title }}</span>
    </button>
  </nav>

  <hr class="border-1 my-3">

  <!-- Ticket in visione -->
  <h5 class="h5 ms-1 fw-medium">Ticket in visione</h5>
  <div class="tickets-container px-2">
    <div
      *ngFor="let ticket of viewingTickets"
      [routerLink]="['/tickets', ticket.id]"
      class="card card-viewing mb-2 overflow-hidden w-100"
      [ngClass]="{
        'bg-secondary text-white': isSelectedTicket(ticket.id!)
      }"
    >
      <div class="d-flex flex-column p-2">
        <!-- Riga ID + titolo -->
        <div class="d-flex align-items-center gap-2 overflow-hidden w-100">
          <span class="text-nowrap">ID: {{ ticket.id }}</span>
          <span class="vr"></span>
          <span class="d-block text-truncate">{{ ticket.title }}</span>
        </div>
        <!-- Badge e chiudi -->
        <div class="d-flex justify-content-between align-items-center mt-2">
          <span class="badge-pill w-100" [appStatusClass]="ticket.status">
            {{ getTicketStatusEnumValue(ticket.status) }}
          </span>
          <button
            type="button"
            class="btn p-0 ms-2"
            title="Chiudi"
            (click)="removeViewingTicket(ticket.id!); $event.stopPropagation()"
          >
            <i
              class="bi bi-x-circle-fill"
              [ngClass]="{
                'text-white': isSelectedTicket(ticket.id!),
                'text-muted': !isSelectedTicket(ticket.id!)
              }"
            ></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
