ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.menu-item-active,
  &.active {
    /* Classe aggiunta da routerLinkActive */
    background-color: #007bff;
    color: white;

    .material-icons {
      color: white;
    }
    &:hover {
      background-color: #0056b3;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .material-icons {
    margin-right: 10px;
    color: #007bff;
  }

  .menu-title {
    font-size: 16px;
  }
}

mat-divider {
  margin-block: 10px;
}

mat-card {
  margin-block: 10px;
  cursor: pointer;
  &:hover {
    background-color: #acacac;
  }
  mat-card-header {
    padding-block-start: 5px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    & > div:nth-child(2) {
      margin-right: auto;
    }
    mat-icon:hover {
      color: #007bff;
    }
  }
}

.selected-ticket {
  background-color: #007bff;
  color: white;
}
