<div class="side-bar">
  <h5>Sezioni</h5>
  <nav>
    <ul>
      <li
        *ngFor="let item of menuItems"
        class="menu-item"
        [ngClass]="{ 'menu-item-active': item.isActive }"
        routerLinkActive="menu-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [routerLink]="item.path" (click)="handleMenuNavigation(item)">
          <i class="material-icons">{{ item.icon }}</i>
          <span class="menu-title">{{ item.title }}</span>
        </a>
      </li>
    </ul>
  </nav>
  <mat-divider></mat-divider>
  <div class="tickets-container">
    <h5>Ticket in visione</h5>
    <mat-card
      *ngFor="let ticket of viewingTickets"
      [ngClass]="{ 'selected-ticket': isSelectedTicket(ticket.id!) }"
      [routerLink]="['/tickets', ticket.id]"
    >
      <mat-card-header>
        <div>
          <mat-card-title>{{ ticket.title }}</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex justify-content-between">
              <span class="status" [appStatusClass]="ticket.status">
                {{ getTicketStatusEnumValue(ticket.status) }}
              </span>
              <span
                class="fs-6"
                [ngClass]="{ 'selected-ticket': isSelectedTicket(ticket.id!) }"
                >ID: {{ ticket.id }}</span
              >
            </div>
          </mat-card-subtitle>
        </div>
        <div>
          <mat-icon
            matTooltip="Chiudi"
            (click)="removeViewingTicket(ticket.id!); $event.stopPropagation()"
            >cancel</mat-icon
          >
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</div>
