<app-prova
  [data]="persone"
  (mandaDatiEvento)="onRiceviDati($event)"
></app-prova>

<button (click)="cambiaPersone()">cambia</button>

<input #inputSaluti value="ciao" />

<div>
  <input
    type="radio"
    name="coloreEvidenziatore"
    (click)="cambiaColoreEvid('red')"
  />
  Rosso
  <input
    type="radio"
    name="coloreEvidenziatore"
    (click)="cambiaColoreEvid('pink')"
  />
  Rosa
  <input
    type="radio"
    name="coloreEvidenziatore"
    (click)="cambiaColoreEvid('purple')"
  />
  Viola
</div>
