@use "bootstrapOverrides" as *;
@use "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";;

.status-open {
  background-color: teal;
  @extend .badge;
  @extend .badge-pill;
}

.status-pending {
  background-color: #ba6262;
  @extend .badge;
  @extend .badge-pill;
}

.status-in-progress {
  background-color: rgb(214, 140, 2);
  @extend .badge;
  @extend .badge-pill;
}

.status-closed {
  background-color: green;
  @extend .badge;
  @extend .badge-pill;
}

.badge-pill {
  border-radius: 10rem; // Arrotonda il badge a forma di "pillola"
}

.nav-link.active {
  // border-bottom: none !important;
  border-bottom-color: $primary-dark !important;
}

.background-image {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
}

.background-image::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/352097/pexels-photo-352097.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
}

.background-image > .card {
  width: 100%;
  max-width: 400px;
  position: relative;
  z-index: 1;
}

