@use "bootstrapOverrides" as *;
@use "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";;

.status-open {
  background-color: teal;
  @extend .badge;
  @extend .badge-pill;
}

.status-pending {
  background-color: #ba6262;
  @extend .badge;
  @extend .badge-pill;
}

.status-in-progress {
  background-color: rgb(214, 140, 2);
  @extend .badge;
  @extend .badge-pill;
}

.status-closed {
  background-color: green;
  @extend .badge;
  @extend .badge-pill;
}

.badge-pill {
  border-radius: 10rem; // Arrotonda il badge a forma di "pillola"
}

.nav-link.active {
  // border-bottom: none !important;
  border-bottom-color: $primary-dark !important;
}
