/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

@mixin make-container($max-width: null) {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-inline: auto;
  @if $max-width != null {
    max-width: $max-width;
  }
}

.container {
  @include make-container();

  @each $breakpoint, $max-width in $container-max-widths {
    @media (min-width: #{map-get($container-max-widths, $breakpoint)}) {
      @include make-container($max-width);
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.status-open {
  background-color: teal;
  @extend .badge;
  @extend .badge-pill;
}

.status-pending {
  background-color: #ba6262;
  @extend .badge;
  @extend .badge-pill;
}

.status-in-progress {
  background-color: rgb(214, 140, 2);
  @extend .badge;
  @extend .badge-pill;
}

.status-closed {
  background-color: green;
  @extend .badge;
  @extend .badge-pill;
}

.badge {
  width: 100px;
  display: inline-block; // Rende l'elemento inline, ma permette di impostare larghezza e altezza
  padding: 0.25em 0.5em; // Aggiunge spaziatura interna per dare forma al badge
  font-size: 0.75em; // Riduce la dimensione del testo
  font-weight: 700; // Imposta il testo in grassetto
  color: white;
  //background-color: #fffcfc; // Colore di sfondo
  border-radius: 0.25rem; // Bordi arrotondati per il badge
  text-align: center; // Allinea il testo al centro
  vertical-align: middle; // Allinea verticalmente al centro
  line-height: 1; // Imposta l'altezza della linea a 1 per un allineamento corretto
}

.badge-pill {
  border-radius: 10rem; // Arrotonda il badge a forma di "pillola"
}

.text-black {
  color: gray !important;
}

.text-center {
  text-align: center;
}

.m-0 {
  margin: 0 !important;
}

.pointer-cursor {
  cursor: pointer;
}
.not-allowed-cursor {
  cursor: not-allowed;
}

.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.filter-container {
  display: flex;
  gap: 16px; /* Spaziatura tra input e select */
  align-items: center;
  margin-bottom: 16px; /* Spaziatura dal contenuto */
}

.filter-item {
  flex: 1; /* I campi occupano uguale spazio */
  min-width: 200px; /* Larghezza minima */
}

.no-checkbox-option .mat-pseudo-checkbox {
  display: none;
}
