<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Scrivi qui il tuo commento...</mat-label>
    <textarea
      matInput
      formControlName="content"
      placeholder="Scrivi qui il tuo commento..."
      rows="5"
    ></textarea>
    <mat-error
      *ngIf="
        commentForm.get('content')?.invalid &&
        commentForm.get('content')?.touched
      "
    >
      Il commento è richiesto
    </mat-error>
  </mat-form-field>
  <button type="submit" [disabled]="commentForm.invalid">Commenta</button>
</form>

<mat-divider></mat-divider>
