<mat-card *ngIf="ticket" class="ticket-detail-card">
  <form *ngIf="ticket" [formGroup]="ticketForm">
    <mat-select
      [appStatusClass]="ticketForm.get('status')?.value"
      formControlName="status"
      (selectionChange)="onChangeStatus()"
    >
      <mat-option *ngFor="let status of ticketStatusKeys" [value]="status">
        <span [appStatusClass]="status">
          {{ status }}
        </span>
      </mat-option>
    </mat-select>
  </form>
  <mat-divider></mat-divider>
  <mat-card-header>
    <mat-card-title>{{ ticket.title }}</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-tab-group>
  <mat-tab label="Overview">
    <app-ticket-overview [ticket]="ticket"></app-ticket-overview>
  </mat-tab>
  <mat-tab label="Commenti">
    <app-ticket-correspondence [ticket]="ticket"></app-ticket-correspondence>
  </mat-tab>
</mat-tab-group>
