<mat-card *ngIf="ticket" class="ticket-detail-card">
  <div class="header-wrapper">
    <!-- info apertura modifica ticket -->
    <div>
      <p>
        <strong>Creato da: </strong>{{ ticket.account.name }}
        {{ ticket.account.surname }}
      </p>
      <p>
        <strong>Creato il: </strong
        >{{ ticket.createdAt | date : "EEEE, MMMM d, y, h:mm a" }}
      </p>
      <!-- <p>
        <strong> Aggiornato il: </strong>
        {{ ticket.updatedAt | date : "EEEE, MMMM d, y, h:mm a" }}
      </p> -->
    </div>
    <!-- selezione status -->
    <form *ngIf="ticket" [formGroup]="statusForm">
      <mat-select
        [appStatusClass]="statusForm.get('status')?.value"
        formControlName="status"
        (selectionChange)="handleStatusChange()"
      >
        <mat-option *ngFor="let status of ticketStatusKeys" [value]="status">
          <span [appStatusClass]="status">
            {{ getTicketStatusEnumValue(status) }}
          </span>
        </mat-option>
      </mat-select>
    </form>
  </div>
  <mat-divider></mat-divider>
  <!-- titolo ticket -->
  <mat-card-header>
    <mat-card-title>{{ ticket.title }}</mat-card-title>
  </mat-card-header>
</mat-card>

<!-- tab -->

<mat-tab-group color="warn">
  <mat-tab label="Panoramica">
    <app-ticket-overview [ticket]="ticket"></app-ticket-overview>
  </mat-tab>
  <mat-tab label="Commenti">
    <app-ticket-correspondence [ticket]="ticket"></app-ticket-correspondence>
  </mat-tab>
</mat-tab-group>
