<mat-card *ngIf="ticket" class="ticket-detail-card">
  <mat-card-header>
    <mat-card-title>{{ ticket.title }}</mat-card-title>
  </mat-card-header>
</mat-card>

<form
  *ngIf="ticket"
  [formGroup]="ticketForm"
  (ngSubmit)="onSubmit()"
  class="rounded-select"
>
  <mat-form-field>
    <mat-label>Ticket Status</mat-label>
    <mat-select
      [(value)]="ticket.status"
      [ngClass]="getStatusClass(ticket.status)"
    >
      <mat-option *ngFor="let status of ticketStatusKeys" [value]="status">
        <span [ngClass]="getStatusClass(status)">
          {{ status }}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <button mat-raised-button color="primary" type="submit">Salva</button> -->
</form>

<mat-tab-group>
  <mat-tab label="Overview">
    <app-ticket-overview [ticket]="ticket"></app-ticket-overview>
  </mat-tab>
  <mat-tab label="Correspondence">
    <app-ticket-correspondence></app-ticket-correspondence
  ></mat-tab>
</mat-tab-group>
