<div *ngIf="comments.length > 0; else noComments">
  <ul class="list-group">
    <div *ngFor="let comment of comments | sortComments: sortOrder">
      <li class="p-0 list-unstyled">
        <div class="card d-flex flex-column justify-content-between p-2 mb-1">
          <div id="comment-{{ comment.id }}-author" (mouseenter)="onMouseEnter(comment.id!)"
            (mouseleave)="onMouseLeave()">
            <div class="d-flex align-items-center">
              <i class="bi bi-chat-left-text-fill"></i>
              <strong class="mx-2">{{ comment.author.name }} {{ comment.author.surname }}:</strong>
            </div>
            <div class="card tooltip-card" *ngIf="showTooltip === comment.id">
              <div>
                Autore: {{ comment.author.name }} {{ comment.author.surname }}
              </div>
              <div>
                Email:
                <a href="mailto:{{ comment.author.email }}">{{
                  comment.author.email
                  }}</a>
              </div>
            </div>
          </div>

          <div>{{ comment.content }}</div>

          <div class="d-flex justify-content-between gap-3">
            <small class="text-muted">{{
              comment.createdAt | date : "EEEE, d MMMM, y, h:mm a"
              }}</small>
            <section id="comment-actions" class="d-flex align-items-center gap-2">
              <!-- Edit ticket -->
              <button class="btn p-0" (click)="isEditMode = !isEditMode">
                <i class="bi" [ngClass]="isEditMode ? 'bi-save' :'bi-pencil' "></i>
              </button>
              <!-- Delete ticket-->
              <button class="btn p-0" *ngIf="isEditMode" (click)="delete()">
                <i class="bi bi-trash text-danger"></i>
              </button>
            </section>
          </div>
        </div>
      </li>

    </div>
  </ul>
</div>
<ng-template #noComments>
  <div class="card">
    <div class="card-content">
      <p>Non ci sono commenti</p>
    </div>
  </div>
</ng-template>
