<mat-card *ngIf="comments.length > 0; else noComments">
  <ul>
    <li *ngFor="let comment of comments">
      <div
        id="author"
        (mouseenter)="onMouseEnter(comment.id)"
        (mouseleave)="onMouseLeave()"
      >
        <mat-icon matListIcon>comment</mat-icon>
        <strong>{{ comment.author.name }} {{ comment.author.surname }}</strong>
        <mat-card *ngIf="showTooltip === comment.id" class="tooltip-card">
          <div>
            Autore: {{ comment.author.name }} {{ comment.author.surname }}
          </div>
          <div>
            Email:
            <a href="mailto:{{ comment.author.email }}">{{
              comment.author.email
            }}</a>
          </div>
        </mat-card>
      </div>

      <div matLine>{{ comment.content }}</div>
      <div matLine>
        <small>{{
          comment.createdAt | date : "EEEE, d MMMM, y, h:mm a"
        }}</small>
      </div>
    </li>
  </ul>
</mat-card>
<ng-template #noComments>
  <mat-card>
    <mat-card-content>
      <p>Non ci sono commenti</p>
    </mat-card-content>
  </mat-card>
</ng-template>
