<mat-card *ngIf="ticket" class="ticket-detail-card">
  <div class="flex items-center gap-3 w-100 justify-between">
    <p class="m-0 text-center pointer-cursor" [matTooltip]="'Copia l\'ID'" matTooltipPosition="left"
      (click)="copyTicketId()">
      N° Ticket: <strong>{{ ticket.id }}</strong>
    </p>
    <div class="flex items-center gap-3">
      <!-- Delete ticket-->
      <div *ngIf="isEditMode" mat-icon-button color="warn"
        class="flex items-center gap-1 border-2 border-red-500 px-3 rounded-md hover:bg-red-100 transition pointer-cursor"
        (click)="deleteTicket(ticket)">
        <mat-icon class="text-red-600">delete</mat-icon>
        <span class="text-red-700 text-sm font-medium">Cancella ticket</span>
      </div>
      <!-- Edit ticket -->
      <div mat-icon-button class="flex items-center gap-1 border-2  px-3 rounded-md transition pointer-cursor"
        (click)="isEditMode = !isEditMode">
        <mat-icon>{{isEditMode ? 'save' :'edit' }}</mat-icon>
        <span class="text-sm font-medium">{{isEditMode ? 'Salva modifiche' : 'Modifica'}}</span>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="header-wrapper">
    <!-- info apertura modifica ticket -->
    <div>
      <p>
        <strong>Autore: </strong>{{ ticket.author.name }}
        {{ ticket.author.surname }}
      </p>
      <p>
        <strong>Data apertura: </strong>{{ ticket.createdAt | date : "EEEE - dd MMMM y - HH:mm" }}
      </p>
      <p>
        <strong>Data modifica: </strong>
        {{ ticket.updatedAt ? (ticket.updatedAt | date : "EEEE - dd MMMM y - HH:mm") : '---' }}
      </p>
    </div>
    <!-- selezione status -->
    <form *ngIf="ticket" [formGroup]="statusForm">
      <div>

        <hr />
        <mat-select [appStatusClass]="statusForm.get('status')?.value" formControlName="status"
          (selectionChange)="handleStatusChange()">
          <mat-option *ngFor="let status of ticketStatusKeys" [value]="status">
            <span [appStatusClass]="status">
              {{ getTicketStatusEnumValue(status) }}
            </span>
          </mat-option>
        </mat-select>
      </div>
    </form>
  </div>
  <mat-divider></mat-divider>
  <!-- titolo ticket -->
  <mat-card-header>
    <div class="flex justify-between items-center w-full">
      <mat-card-title>{{ ticket.title }}</mat-card-title>
    </div>
  </mat-card-header>
</mat-card>

<!-- tab -->

<mat-tab-group color="warn">
  <mat-tab label="Panoramica">
    <app-ticket-tab-description [ticket]="ticket"></app-ticket-tab-description>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Commenti ({{ comments.length}})
    </ng-template>
    <app-ticket-tab-comments [ticket]="ticket" [comments]="comments"
      (commentAdded)="onCommentAdded()"></app-ticket-tab-comments>
  </mat-tab>
</mat-tab-group>