
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  p {
    margin: 0;
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
  }
}
