<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Titolo</mat-label>
    <input matInput formControlName="title" placeholder="Titolo del ticket" />
    <mat-error *ngIf="ticketForm.get('title')!.invalid"
      >Titolo obbligatorio</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descrizione</mat-label>
    <textarea
      matInput
      formControlName="description"
      placeholder="Descrizione del ticket"
    ></textarea>
    <mat-error *ngIf="ticketForm.get('description')!.invalid"
      >Descrizione obbligatoria</mat-error
    >
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="ticketForm.invalid"
  >
    Crea Ticket
  </button>
</form>
