<!-- <button mat-raised-button color="primary" (click)="onClick($event)">
  clicca
</button> -->

<!-- <mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Favourite food</mat-label>
  <input
    matInput
    placeholder="Inserisci cibo preferito"
    (input)="onInput($event)"
    [(ngModel)]="title"
  />
</mat-form-field>
<p>{{ title }}</p> -->

<ng-template *ngIf="isDisabled; then bloccoIf; else bloccoElse"></ng-template>

<ng-template #bloccoIf>
  <p>sono visibile</p>
</ng-template>
<ng-template #bloccoElse>
  <p>sono nascosto</p>
</ng-template>

<ul>
  <li *ngFor="let persona of data">{{ persona.nome }} {{ persona.cognome }}</li>
</ul>

<button (click)="mandaDati()">manda dati al parente</button>
