.layout {
  display: flex;
  height: 90vh;
}

app-sidebar {
  position: fixed;
  top: 100;
  left: 0;
  z-index: 1000;
}

.content {
  overflow-y: auto; /* Abilita lo scorrimento verticale */
  //height: 100vh; /* Assicura che il contenuto occupi l'intera altezza disponibile */
}

app-header-bar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
}
