
@use "bootstrapOverrides" as *;
.layout {
  display: flex;
  height: 90vh;
  background-color: $primary;
}

app-sidebar {
  position: fixed;
  top: 100;
  left: 0;
  z-index: 1000;
}

app-header-bar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.content {
  overflow-y: auto; /* Abilita lo scorrimento verticale */
  flex-grow: 1;
  padding: 20px;
  background-color: lighten($primary, 5%);
}
