@use 'bootstrapOverrides' as *;

#new-ticket {
  transition: background-color 0.3s;
  &:hover {
    background-color: darken($tertiary, 30%) !important;
  }
}

.hover-color:hover {
  transition: color 0.3s;
  color: darken($tertiary, 30%) !important;
}
