<mat-toolbar color="primary" class="header-bar">
  <div>
    <button
      appHoverHighlight
      mat-icon-button
      class="header-bar__menu-button"
      (click)="onToggleSidebar()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span [routerLink]="'/tickets'" class="header-bar__title">Ticketing</span>
  </div>

  <span class="header-bar__spacer"></span>
  <div>
    <button [routerLink]="'/tickets/create'" id="new-ticket">
      <i class="material-icons">add_circle</i>
      <span class="menu-title">Apri nuovo ticket</span>
    </button>
    <button mat-icon-button class="header-bar__user-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
