@use "../../../../styles/bootstrapOverrides" as *;

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $primary;
}

.login-card {
  background-color: lighten($primary, 5%);
}
