<div class="register-container">
  <h2>Registrazione</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nome</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        placeholder="Inserisci il tuo nome"
      />
    </div>

    <div>
      <label for="surname">Cognome</label>
      <input
        id="surname"
        formControlName="surname"
        type="text"
        placeholder="Inserisci il tuo cognome"
      />
    </div>

    <div>
      <label for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        placeholder="Inserisci la tua email"
      />
    </div>

    <div>
      <label for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Inserisci la tua password"
      />
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Registrati</button>
  </form>
</div>
