.ticket-detail-card {
  margin: 20px;
}

.status-open {
  color: green;
}

.status-in-progress {
  color: orange;
}

.status-closed {
  color: red;
}

mat-card-title {
  font-size: 1.5em;
}

mat-card-subtitle {
  font-size: 1.2em;
}
